li {
  padding: 5px;
  margin: 5px;
  background: #defad7;
}

.devoured-burgers{
  padding: 5px;
  margin: 5px;
  background: #fad7e0;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
